{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm registration in Django Blog Project</title>
</head>
<body>
    <div>
        <div>
            <p>Hi, {{ user.username }}!</p>
            <p>Please click on the link to confirm your registration, <a href="http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}</a></p>
        </div>
    </div>
</body>
</html>
