<section class="mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="py-3 border-0">
                <form action="{% url 'blog:post_comment' slug=post.slug %}" method="post">
                    <div class="d-flex flex-start w-100">
                        <div class="form-outline w-100">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                 {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="float-end mt-2 pt-1">
                      <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>