{% extends 'base/_base.html' %}
{% load crispy_forms_filters %}

{% block title %}
{{ post.title }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
            <section class="border-bottom mb-4">
                <h1>{{ post.title }}</h1>
                <div class="row align-items-center">
                        <img src="{{ post.image_url }}" class="img-fluid shadow-2-strong rounded-2 mb-4" alt="" />
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                        <span>Published <u>{{ post.publish|timesince }}</u> by</span>
                        <span>{{ post.author }}</span>
                    </div>
                </div>
            </section>
            <section>
                {{ post.body|linebreaks }}
            </section>

            {% include 'blog/post/comment.html' %}

            <section>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
                     <div class="d-flex flex-start">
                     {% with comments.count as total_comments %}
                        <h3>Comment{{ total_comments|pluralize }}: {{ total_comments }}</h3>
                     {% endwith %}
                        <hr>
                     </div>
                    {% for comment in comments %}
                    <div class="d-flex m-3">
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="mb-1">
                              <strong>{{ comment.author }},</strong><span class="small"> created {{ comment.created|timesince }} ago</span>
                            </div>
                          </div>
                          <div class="small mb-0">
                           {{ comment.body|linebreaks }}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% empty %}
                    <div class="d-flex text-center-">
                        -- No comments yet --
                    </div>
                    {% endfor %}
                </div>
            </div>
            </section>
        </div>
    </div>
{% endblock %}