{% extends 'base/_base.html' %}
{% load crispy_forms_filters %}

{% block title %}
  City weather form
{% endblock title %}

{% block content %}
  <h2>Get weather info about city</h2>
  {% if weather %}
    {% include 'weather/widget/_today_widget.html' %}

    <div class="col-12 d-flex justify-content-between mt-5">
      <div>
        <a href="">
          <button class="btn btn-info btn-lg">Back</button>
        </a>
      </div>

      {% if request.user.is_authenticated %}
       <div>
         <form action="{% url 'weather:user_city_create' %}" method="post">
           {% csrf_token %}
           <input type="hidden" name="city" value="{{ weather.city }}">
           <input type="hidden" name="country_code" value="{{ weather.country_code }}">
           <input type="hidden" name="lat" value="{{ weather.coordinates.lat }}">
           <input type="hidden" name="lon" value="{{ weather.coordinates.lon }}">
           <button type="submit" class="btn btn-danger btn-lg">Add</button>
         </form>
        </div>
      {% endif %}

      <div>
        <a href="">
          <button class="btn btn-success btn-lg">Map</button>
        </a>
      </div>

    </div>

  {% else %}
    <div class="col-3">
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info">Info</button>
      </form>
    </div>
  {% endif %}
{% endblock content %}
